body{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #03031c;
}


h1{
	font-family: Trattatello;
	font-size: 130px;
	text-align: center;
	letter-spacing: 4px;
	line-height: 140px;
	margin-bottom: 50px;
	color: beige;
  }

  h1:hover{
  	font-style: bold;
  	font-style: italic;
  }


  p{
  	font-family: sans-serif;
  	font-size: 24px;
  	color: beige;
	text-align: center;
  }

p:hover{
	font-style: italic;
}

.container{
	background-color:#03031c;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px;
	transform: rotate(3deg);
}


 #recipebox{
  width: 120px;
  height: 200px;
	text-align: center;
	margin-right: 0;
	margin-left: 0;
	text-align: center;
	position: absolute;
	top: 300px;
	left: 60px;
	overflow: hidden;
	opacity: 100%;
	background-color: #d1a099;
	font-family: sans-serif;
	color: white;
	padding: 12px;
	border: 2px solid white;
	margin-top: 10px;
	opacity: 60%;
	transform: rotate(-3deg);
  }

  #recipebox:hover {
	opacity: 100%;
  }



.recipeprocess{
	width: 400px; height: 1900px;
	padding: 35px;
	align-items: center;

}


.images{
	width: 600px; 
	height: 1900px;
	display: flex;
	flex-direction: column;
}


#image1{
	width: 260px;
	margin-top: 30px;
	transform: rotate(-13deg)

}

#image2{
	width: 260px;
	margin-top: 20px;
	transform: rotate(4deg)
}


#image3{
	width: 250px;
	opacity: 40%;
	position: absolute;
	position: absolute;
	top: 600px;
	left: 1100px;
}


#image3:hover{
	opacity: 100%;
	width: 350px;
}



#image4{
	width: 370px;
	transform: rotate(14deg);
	opacity: 70%;
	position: absolute;


}

#image4:hover{
	opacity: 100%;
}

#image5{
	opacity: 50%;
	width: 300px;
	position: sticky;
	top: 400px;
	left: 1000px;
}

#image5:hover{
	opacity: 100%;
}

#image6{
	width: 250px;
	margin-top: 20px;
	position: sticky;
	top: 80px;
	left: 500px;


}

.caption{
	font-family: sans-serif;
	font-size: 14px;
	color: beige;
	top: 400px;
	left: 900px;
}


#image7{
	opacity: 60%;
	width: 320px;
	transform: rotate(-5deg);
}

#image7:hover{
	opacity: 100%;
	width: 370px;
}


#image8{
	opacity: 75%;
	width: 300px;
	transform: rotate(5deg);
	position: absolute;
	top: 1100px;
	left: 1100px;
}

#image8:hover{
	opacity: 100%;
}


#image9{
	opacity: 50%;
	width: 200px;
	margin-top: 50px;
}

#image9:hover{
	width: 300px;
	opacity: 100%;
}

h2{
	font-family: Trattatello;
	font-size: 100px;
	text-align: center;
	letter-spacing: 4px;
	margin-top: -30px;
	margin-bottom: -200px;
	color: beige;
}


#image10{
	width: 300px;
	position: absolute;
	top: 2400px;
	left: 300px;
	margin-bottom: 50px;
	transform: rotate(-5deg);
}

#image10:hover{
	width: 400px;
}







